* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: "Heebo", sans-serif;
}

.landing {
    min-height: 100vh;
    background: url(./img/goce.jpg);
    background-size: cover;
    padding: 0rem 0rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    background: black;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
}
.nav-links li {
    padding-left: 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(233, 233, 233);
}
#logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 4rem;
    color: rgb(233, 233, 233);
    margin-left: 5rem;
    
}

.big-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: red;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: rgb(233, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;

}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
